.timerSessao1{
    background-color: #D9D9D9;
    border-radius: 15%;
    border: #000000 solid 2px; 
    padding: 5%;
    width: 300px;
    height: 250px;
    margin-top: 50%;
    text-align: center;
    
}
.timerSessao1Final{
    background-color: #D9D9D9;
    border-radius: 15%;
     border: #ff0000 solid 2px; 
     padding: 5%;
     width: 300px;
     height: 250px;
    margin-top: 50%;
    text-align: center;
}
.divExibidorTimerInput{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height: 6vh;
}
.TimerValor{
    width: 5vh;
    font-size: medium;
}
input{
    width: 70px;
    background-color: #d9d9d9;
    border: #D9D9D9;
}
.timerExibirReal{
    font-size: large;
}


